{% extends "layout.html" %}
{% block content %}
<title>G99 | Programs</title>
<nav class="clear-fix">
    <div class="row rowNav">
        <button id="hamburgerBtn">&#9776;</button>
            <ul id="primaryNav">
                <li class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
                <li class="nav-item active"><a href="{{ url_for('programs') }}">Programs</a></li>
                <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
    </div>
</nav>
<div class="clear-fix">
    <div class="row limited">
        <section class="column small-12">
            <h1>Python Program Examples</h1>
        </section>
    </div>
    <div class="row limited container">
        <section class="grid-item">
            <h3>Web Mapping</h3>
            <img src="{{url_for('static',filename='images/programs/webmapping.png')}}" alt="Web Mapping Image">
            <p>Map of world population and Volcanoes in the US.</p>
        </section>
        <section class="grid-item">
            <h3>Data Analysis</h3>
            <img src="{{url_for('static',filename='images/programs/dataanalysis.png')}}" alt="Data Analysis Image">
            <p>Parsing and modeling data for visual graphs.</p>
        </section>
    </div>
</div>
{% endblock %}